# Dependencies
node_modules/

# Supabase temp files and local DB data
supabase/.temp/
supabase/.branches/
supabase/migrations/.empty

# Environment variables
.env
.env.local

# Editor settings
.vscode/